<div class="push8"></div>
  <div class="container pb-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card p-3 m-1 row bg-light border-secondary mb-6">
          {{#if Comment}}
            {{#each Comment}}
          <h3 class="text-dark p-3 text-center commentTitle" id="commentTitle{{_id}}">{{this.articleName}}</h3>
          <div class="row">
                <div data-toggle="collapse" action="{{Comment}}?_method=GET" method="POST" class=" col-md-12 col-lg-6">

                  <div class="card p-3 mb-3"  style="width: 80%;">
                    <div class="card-body">
                      <h5 class="card-title" id="{{_id}}" style="height: 100px; overflow:scroll">{{this.message}}</h5>
                      <p class="card-text text-right">Posted by {{this.name}}</p>
                      <div class="row">
                        <div class="col-12">
                          <a href="/" class="btn btn-primary">Home</a>
                          <a><button href="#" class="btn btn-info editBtn" value="{{_id}}">Edit</button></a>
                          <a><button href="#" class="btn btn-danger deleteBtn" value="{{_id}}">Delete</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
              {{/each}}
            {{else}}

              
              <div class="col-12 text-center">
                <h5 class="text-center text-danger">There are currently no comments on this article.</h5>
              </div>
              <a href="/" class="btn btn-primary">Home</a>
                  
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>	
      
<div class="modal" id="commentEditModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCommentTitleB"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="userComment">Comment:</label>
              <textarea class="form-control" id="userCommentEdit" rows="3" placeholder="Type your comment here."></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="editCommentSubmit" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div> 
	


